@charset "utf-8";

.fade.in {
  opacity: 1;
}

body>.background {
  background-image: url(/images/background.png);
  background-position: center center;
  height: 100vh;
  position:fixed;
  transform: translate3d(0,0,0);
  width: 100vw;
}


body {
  margin:0; 
  padding:0; 
  font-family: "Proxima Nova" , "Helvetica Neue" , Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.28;
  color: #ccd8db;
  background: #1f2324;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

@media (min-width: 768px){
body {
  padding-bottom: 64px;
  padding-top: 64px;
 }

body>.background {
  margin-top: -64px;
}
}

header {
  margin-top: 64px;
  z-index: 9999;
}

