<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>
  <div class="container ng-scope" data-ng-init="">
    <div class="row">
      <div class="col-xs-12 col-sm-6" id="contact">
        <h6>Contact</h6>
        <ol class="list-unstyled list-inline">
          <li><a href="skype:h">Skype</a></li>
          <li><a href="">Email</a></li>
          <li><a href="">Steam</a></li>
          <li><a href="">Facebook</a></li>
        </ol>
      </div>
      <div id="colophon" class="col-sm-6 text-right hidden-xs">
        <h6>
            &copy; 2014 xxxxx
          </h6>
          <a href="https://github.com/xxxx"></a>
          Typeste in Nava
        </div>
    </div>
  </div>
</body>
</html>

